PORT=5000
DATABASE_URL=file:./dev.db
JWT_SECRET=super_secret_jwt_key_change_me
NODE_ENV=development
APP_URL=https://vaibhavinsurance.vercel.app
STORAGE_PROVIDER=local
CRON_SECRET=cron_jobs_verification_token_key
